@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}
<div>
   <h1>You are not having the permit to enter this page</h1>
   <div>
       <h1>Please login first!</h1>
        <div class="text-center mt-3">
            <small>Click here to login -><a asp-controller="Authentication" asp-action="Login">Login here</a></small>
        </div>
   </div>
</div>