@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["Page Not Found"].Value;
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">404</h1>
    <p class="lead">@Localizer["Page Not Found Message"]</p>
    @if(ViewBag.UserRole != null)
    {
        <a asp-action="Index" asp-controller="User" class="btn btn-primary mt-3">@Localizer["Back to Home"]</a>
	} 
    else 
    {
        <a asp-action="Index" asp-controller="Authentication" class="btn btn-primary mt-3">@Localizer["Back to Home"]</a>
    }
</div>
